restservicedemo/src/test/resources/dataSet.dtd

<!ELEMENT dataset (
    BIKE*,
    PERSON*)>

<!ELEMENT BIKE EMPTY>
<!ATTLIST BIKE
    B_ID CDATA #REQUIRED
    MAKE CDATA #IMPLIED
    MODEL CDATA #IMPLIED
    YOP CDATA #IMPLIED
    OWNER_ID CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    P_ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    YOB CDATA #IMPLIED
>

